<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eleventy-netlify-base</title>
    <!-- Facebook Metadata -->
    <meta property="og:title" content="Blank Page">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.example.com">
    <meta property="og:image" content="https://www.example.com/image.jpg">
    <meta property="og:description" content="This is a blank page with Facebook metadata.">
    <meta property="og:site_name" content="Example Site">
    <link rel="stylesheet" href="/assets/style.css">
    </head>
<body>
<h1> Hello World updated on January 8, 07:12 pm/h1>
<h2>This is my base.njk</h2>
<p>Content below</p>
{{ content | safe }}
</body>
</html>